/*==========================
    Service Area 
===========================*/

.service{
    // Service Style One
    &.service__style--1 {
        padding: 40px 0;
        @extend %transition;
        @extend %posrelative;
        z-index: 2;
        @media #{$sm-layout} {
            padding: 15px 0;
        }
        @media #{$md-layout} {
            padding: 20px 0;
        }
        .icon {
            img {
                margin-bottom: 34px;
                @media #{$sm-layout} {
                    margin-bottom: 14px;
                    height: 53px;
                }
                @media #{$large-mobile} {
                    margin-bottom: 13px;
                    height: 45px;
                }
            }
        }
        .content {
            h4 {
                &.title {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    font-weight: 400;
                    font-size: 24px;
                    @media #{$sm-layout} {
                        margin-bottom: 0px;
                        font-weight: 400;
                        font-size: 20px;
                    }
                    @media #{$large-mobile} {
                        margin-bottom: 0px;
                        font-size: 18px;
                    }
                    
                }
            }
            p {
                opacity: 0.75;
                font-weight: 300;
            }
        }
    }
    
    &.service__style--2 {
        padding: 30px 35px;
        @extend %transition;
        @extend %posrelative;
        z-index: 2;
        border-radius: 10px;
        @media #{$laptop-device} {
            padding: 30px 28px;
        }
        @media #{$md-layout} {
            padding: 30px 25px;
        }
        @media #{$sm-layout} {
            padding: 30px 14px;
        }
        @media #{$large-mobile} {
            padding: 30px 18px;
            margin-top: 30px;
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            background-image: linear-gradient(to right, #f61b10 , #ef0963);
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            @extend %transition;
            border-radius: 10px;
            @media #{$large-mobile} {
                opacity: 1;
                visibility: visible;
            }
        }
        .icon {
            font-size: 54px;
            font-weight: 400;
            margin-bottom: 23px;
            display: inline-flex;
            color: $theme-color;
            @extend %transition;
            @media #{$md-layout} {
                margin-bottom: 11px;
            }
            @media #{$large-mobile} {
                color: #ffffff;
            }
           svg {
                stroke-width: 1 !important;
           }
        }
        .content {
            h4 {
                &.title {
                    margin-bottom: 0px;
                    font-weight: 700;
                    @extend %transition;
                    @media #{$laptop-device} {
                        font-size: 40px;
                    }
                    @media #{$sm-layout} {
                        font-size: 20px;
                    }
                    @media #{$md-layout} {
                        margin-bottom: 0px;
                    }
                    @media #{$large-mobile} {
                        color: #ffffff;
                    }
                    a {
                        color: inherit;
                        @media #{$large-mobile} {
                            color: #ffffff;
                        }
                    }
                }
            }
            p {
                @extend %transition;
                color: rgba(29,29,36,0.75);
                @media #{$large-mobile} {
                    color: #ffffff;
                }

            }
        }

        &:hover{
            box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
            &::before {
                opacity: 1;
                visibility: visible;
            }
            .icon{
                color: #ffffff;
            }
            .content{
                h4 {
                    &.title{
                        @extend %textwhite;        
                    }
                }
                p{
                    @extend %textwhite;  
                }
            }
            .sale-off{
                color: #ffffff !important;
            }
            
        }

        &.service-left-align {
            display: flex;
            padding: 50px 24px;
            .icon {
                padding-right: 20px;
            }
        }
    }
    .sale-off{
        color: #ff0000 !important;
    }
}
.strikethrough {
    position: relative;
}
 
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 5px solid;
    border-color: #ff0000 ;
     
    -webkit-transform:rotate(-10deg);
    -moz-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
    -o-transform:rotate(-10deg);
    transform:rotate(-10deg);
}
.subservices{
    h3{
        margin-bottom: 0px;
    }
    p{
        margin: 0px;
    }
}
.whatsapp {
  display:block;
  width:75%;
  height:80%;
  bottom:40px;
  right:40px;
// background-color:#25d366;
  color:#ffffff;
  border-radius:50px;
  text-align:center;
  font-size:50px;
  z-index:100;
  margin: auto;
  padding: 5px;
  margin-bottom: 15px;
}
.whatsapp-icon {
  font-size:50px;
  padding: 0px;
  color: #ffffff !important;
  margin: auto;
}
.text-price{
    font-weight: 700;
    text-align: justify;
}
.text-price-end{
    margin-left: 40px !important;
}
h2 {
    &.end-text {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        height: 25vh;
        margin-top: 25vh; 
        @media #{$sm-layout} {
            font-size: 10px;
            line-height: 50px;
        }
    }
    &.title-practice{
        text-transform: uppercase;
        margin-bottom: 15px !important;
        font-size: 55px;
        text-align: center;
        @media #{$sm-layout} {
            font-size: 30px;
            line-height: 49px;
        }
    }
}
button,
a {
    &.rn-button-style--3 {
        padding: 5px !important;
        color: #c6c9d8;
        font-size: 16px;
        border-radius:50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 2px solid #b1b4c1;
        padding: 15px 40px;
        display: inline-block;
        font-weight: 500;
        transition: 0.3s;
        @media #{$sm-layout} {
            padding: 9px 25px;
        }
        &.rn-btn-dark {
            border: 2px solid #1f1f25;
            color: #1f1f25;
            &:hover {
                background: #1f1f25;
                color: #fff;
            }
        }
        &.border-opacity-half{
            border-color: rgba(31, 31, 37, 0.1);
        }
        &.rn-btn-small {
            padding: 10px 20px;
        }
        &.btn-primary--wsp {
            &:hover {
                border: 2px solid #25d366;
                background: #25d366;
                color: #ffffff;
            }
        }
        &.btn-solid {
            border: 2px solid $theme-color;
            background: $theme-color;
            color: #ffffff;
        }
        &.btn-solid {
            background: $theme-color;
            color: #ffffff;
        }
        &:hover{
            background: transparent;
            color: #25d366;
            box-shadow: 0 10px 15px 0 rgba(0,0,0,0.1);
            transform: translateY(-5px);
        }
    }
}
/* ---------------------------
    Standard Service  
-------------------------------*/
.standard-service {
    .thumbnai {
        img {
            border-radius: 5px;
        }
    }
    .content{
        h4 {
            font-size: 40px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            a {
                @extend %transition;
                color: $heading-color;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        p {
            font-size: 15px;
            line-height: 24px;
        }
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, address, p, pre, blockquote, dl, dd, menu, ol, ul, table, caption, hr {
    margin: 0;
    margin-bottom: 0px !important;
}
.ptb--60{
    padding: 60px 0;
}

.text-center ,
.text-left {
    .service {
        &.service__style--2 {
            margin-bottom: 0px !important;
            padding: 0px 45px;
            @media #{$sm-layout} {
                padding: 30px 14px;
            }
            @media #{$lg-layout} {
                padding: 30px 14px;
            }
            @media #{$md-layout} {
                padding: 30px 14px;
            }
        }
    }
}

// Sercvice Style One
.service-white{
    // Service Style One
    .service__style--1 {
        z-index: 2;
        .content {
            h4 {
                &.title {
                   color: #c6c9d8;
                }
            }
            p{
                color: #c6c9d8;

            }
        }
    }
}

/*---------------------------
    Paralax Service Style  
-----------------------------*/

.rn-paralax-service {
    .service__style--2 {
        z-index: 2;
        padding: 40px 40px;
        background: rgba(255,255,255, 0.3);
        margin-top: 20px;
        overflow: hidden;
        border: 2px solid transparent;
        
        @media #{$sm-layout} {
            padding: 30px 20px;
            background: transparent;
            margin-top: 10px;
        }
        
        .icon {
            color: #ffffff;
        }
        .content {
            h4 {
                &.title {
                    font-size: 40px;
                    color: #ffffff;
                }
            }
            p {
                color: rgba(255,255,255, 0.75);
            }
        }
        &:hover {
            border: 2px solid $theme-color;
            &::before {
                border-radius: 0;
            }
        }
    }
}

/* Creative Agency Service  */
.creative-service-wrapper {
    .row {
        &.creative-service {
            a{
                display: flex;
                height: 100%;
            }
            .service {

                &.service__style--2 {
                    margin-top: 30px;
                    background: #f6f6f6;
                    min-width: 400px;
                }
            }
        }
    }
    
}



.service-one-wrapper{
    @media #{$md-layout} {
        margin: 0 -40px;
    }
}








